﻿{{#data}}
<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
    <div role="content">
        <div class="jarviswidget-editbox">
        </div>
        <div class="form-goods-view widget-body">
            <table class="table grid-border table-striped table-hover">
                <tbody>
                    <tr>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Tên vai trò</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{NAME}}</span></td>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Mã vai trò</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{PARENT_ID}}</span></td>
                    </tr>
                    <tr>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Mô tả</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{URL}}</span></td>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Ngày tạo</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{CREATED_BY}}</span></td>
                    </tr>
                    <tr>
                        
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Trạng thái</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{STATUS}}</span></td>
                    </tr>

                    <!--<tr>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Chuyên môn</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{TECHNIQUE}}</span></td>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Trạng thái:</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top">
                            <span class="ng-binding">
                                <label class="{{STATUS}}">
                                    {{STAUTS}}
                                </label>
                            </span>
                        </td>
                    </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/data}}
{{^data}}>
<div class="detailview">
    <div class="row">
        <div class="col-md-12">
            <div class="p-subtitle text-left settion-scroll">
                <a href="#divSearch" data-toggle="collapse" aria-expanded="false" class="collapse-expand">
                    <span class="fa fa-caret-down" aria-hidden="true"></span>
                    <span class="p-title-side" data-p-role="subtitle">Thông tin chi tiết</span>
                    <div class="p-lengend"></div>
                </a>
            </div>
            <div class="p-shadowed p-form-size">
            </div>
        </div>
    </div>
</div>
{{/data}}
