﻿
{{#data}}
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form role="form" id="form-edit">
                    <div class="col-lg-6">
                        <input type="hidden" md="ID" value="{{ID}}" />
                        <div class="form-group">
                            <label>Tên</label>
                            <input md="NAME" value="{{NAME}}" class="form-control" placeholder=" ">
                        </div>  
                        <div class="form-group">
                            <label>id bố mẹ</label>
                            <input md="PARENT_ID" value="{{PARENT_ID}}" class="form-control" placeholder="" type="text">
                        </div>
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>URL</label>
                            <input md="URL" value="{{URL}}" class="form-control" placeholder=" ">
                        </div>
                        <div class="form-group">
                            <label>Trạng thái</label>

                            <select class="form-control">
                                <option value="1"> Hoạt động </option>
                                <option value="0"> Không hoạt động </option>


                            </select>
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
{{/data}}