﻿
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" id="form-add">
                <!--<input name="" md="_Request"-->
                <div class="col-lg-6">
                    <input type="hidden" md="ID" value="{{ID}}" />
                    <div class="form-group">
                        <label>Mã</label>
                        <input md="CODE" value="{{CODE}}" class="form-control" placeholder=" ">
                    </div>

                    <div class="form-group">
                        <label>Tên</label>
                        <input md="NAME" value="{{NAME}}" class="form-control" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <input md="DESCRIPTION" value="{{DESCRIPTION}}" class="form-control" placeholder=" ">
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Trạng thái</label>

                        <select class="form-control">
                            <option value="1"> Hoạt động </option>
                            <option value="0"> Không hoạt động </option>


                        </select>
                    </div>
                    <div class="form-group">
                        <label>Loại</label>
                        <input md="TYPE" value="{{TYPE}}" class="form-control" placeholder=" ">
                    </div> <div class="form-group">
                        <label>Giá trị</label>
                        <input md="VALUE" value="{{VALUE}}" class="form-control" placeholder=" ">
                    </div>

                </div>
                <div class="row" style="float: right; margin-top: 26px; margin-right: 20px">
                    <button type="button" class="btn btn-primary" onclick="showAdd()">Thêm mới</button>
                    <button type="button" class="btn btn-reset" onclick="search()">tìm kiếm</button>
                </div>
            </form>
        </div>
    </div>
</div>
