﻿
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" id="form-add">
                <!--<input name="" md="_Request"-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Tên môn</label>
                        <input md="SubjectName" class="form-control" placeholder="Tên môn">
                    </div>
                    <div class="form-group">
                        <label>Giảng viên</label>
                        <input md="Teacher" class="form-control" placeholder="Giảng viên" type="text">
                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <select class="form-control">
                            <option value="1">Hoạt động</option>
                            <option value="0">Không hoạt động</option>
                        </select>
                    </div>
                    <div class="form-group">

                        <label>Số tín chỉ</label>
                        <input md="Credit" class="form-control" placeholder="Số tín chỉ" type="number">
                    </div>

                </div>

                <!--<div class="col-lg-6">
                <div class="form-group">
                    <label>Full name</label>
                    <input md="FullName" class="form-control" placeholder="Full name">
                </div>
                <div class="form-group">
                    <label>Phone number</label>
                    <input md="PhoneNumber" type="number" name="" class="form-control" placeholder="Phone number">
                </div>
                <div class="form-group">
                    <label>Unit</label>
                    <input md="Unit" class="form-control" placeholder="Unit">
                </div>

            </div>-->
            </form>
        </div>
        <div class="row" style="float: right; margin-top: 26px; margin-right: 20px">
            <button type="button" class="btn btn-primary" onclick="showAdd()">Thêm mới</button>
            <button type="button" class="btn btn-reset" onclick="search()">tìm kiếm</button>
        </div>
    </div>
</div>
