﻿@{
    var list = (List<Models.EF.FUNCTION>)@ViewBag.List;
}
<ul class="nav" id="side-menu">
    @if (list != null)
    {
        foreach (var item in list)
        {
            if (item != null && item.PARENT_ID == 0 && item.IS_SHOW == 1)
            {
                var hadChild = list.Where(x => x.PARENT_ID == item.ID && x.IS_SHOW == 1);
                var icon = "";
                if (hadChild.Count() > 0) { icon = "<span class='fa arrow'></span>";
                }else { icon = ""; }
                <li>
                    <a href="@item.URL"><i class="fa fa-bar-chart-o fa-fw"></i> @item.NAME @Html.Raw(@icon)</a>
                    @if (hadChild != null && hadChild.Count() > 0)
                    {
                        <ul class="nav nav-second-level">
                            @foreach (var item2 in hadChild )
                            {
                                <li>
                                    <a href="@item2.URL">@item2.NAME</a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        }
    }
</ul>
