﻿
<div class="panel-body">

    <div class="col-sm-12">
        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th tabindex="0"  rowspan="1" colspan="1" style="width: 147px;">Tác vụ</th>
                    <th tabindex="0"  rowspan="1" colspan="1" style="width: 170px;">Tên người dùng</th>
                    <th tabindex="0"  rowspan="1" colspan="1" style="width: 206px;">Tài khoản</th>
                    <th tabindex="0"  rowspan="1" colspan="1" style="width: 189px;">Địa chỉ</th>
                    <th tabindex="0"  rowspan="1" colspan="1" style="width: 147px;">Số điện thoại</th>
                    <th tabindex="0"  rowspan="1" colspan="1" style="width: 147px;">Email</th>
                    <th tabindex="0"  rowspan="1" colspan="1" style="width: 110px;">Đơn vị</th>
                    <th tabindex="0"  rowspan="1" colspan="1" style="width: 147px;">Trạng thái</th>
                </tr>
            </thead>
            {{#data}}
            <tbody>
                <tr class="gradeA odd" role="row">
                    <td rowId="{{ID}}" class="sorting_1">
                        <a  onclick="showDetail(this)"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                        <a  onclick="showEdit(this)"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                        <a  onclick="deleteInrow(this)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                    <td>{{FULL_NAME}}</td>
                    <td>{{USERNAME}}</td>
                    <td>{{ADDRESS}}</td>
                    <td>{{PHONE_NUMBER}}</td>
                    <td>{{EMAIL}}</td>
                    <td>{{UNIT}}</td>
                    <td>{{NEW_STATUS}}</td>
                </tr>
               {{/data}}
            </tbody>
        </table>
    </div>
</div>

