﻿
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" id="form-add">
                <!--<input name="" md="_Request"-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Username</label>
                        <input md="UserName"class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input md="Email"class="form-control" placeholder="Example@email.com" type="text">
                    </div>
                    <div class="form-group">
                        <label>Technique</label>
                        <input md ="Technique" class="form-control" placeholder="Technique">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Full name</label>
                        <input md="FullName"class="form-control" placeholder="Full name">
                    </div>
                        <div class="form-group">
                            <label>Phone number</label>
                            <input md="PhoneNumber" type="number" name="" class="form-control" placeholder="Phone number">
                        </div>
                    <div class="form-group">
                        <label>Unit</label>
                        <input md="Unit" class="form-control" placeholder="Unit">
                    </div>
                    <div class="row" style="float: right; margin-top: 15px; margin-right: 20px">
                        <button type="button" class="btn btn-primary" onclick="showAdd()">Thêm mới</button>
                        <button type="button" class="btn btn-reset" onclick="search()">tìm kiếm</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
