﻿{{#data}}
<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
    <div role="content">
        <div class="jarviswidget-editbox">
        </div>
        <div class="form-goods-view widget-body">
            <table class="table grid-border table-striped table-hover">
                <tbody>
                    <tr>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Tên kỳ thi</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{NAME}}</span></td>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Mã kỳ thi</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{CODE}}</span></td>
                    </tr>
                    <tr>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Mô tả</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{DESCRIPTION}}</span></td>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Ngày tạo</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{CREATED_DATE}}</span></td>
                    </tr>
                    <tr>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Người tạo</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{CREATED_BY}}</span></td>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Trạng thái</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{NEW_STATUS}}</span></td>
                    </tr>
                    <tr>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Thời gian bắt đầu</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{START_DATE}}</span></td>
                        <td style="line-height: 24px;" class="tabDetailViewLeft" width="20%" valign="top"><strong>Thời gian kết thúc</strong></td>
                        <td class="tabDetailViewRight" width="30%" valign="top"><span class="ng-binding">{{END_DATE}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/data}}
{{^data}}>
<div class="detailview">
    <div class="row">
        <div class="col-md-12">
            <div class="p-subtitle text-left settion-scroll">
                Không có dữ liệu
            </div>
        </div>
    </div>
</div>
{{/data}}
