﻿
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" id="form-add">
                <!--<input name="" md="_Request"-->
                <div class="col-lg-12">
                    <input type="hidden" md="ID" value="{{ID}}" />
                    <div class="form-group col-lg-6">
                        <label>Tên</label>
                        <input md="NAME" value="{{NAME}}" class="form-control" placeholder=" ">
                    </div>
                  
                    <div class="form-group col-lg-6">
                        <label>Mã vai trò</label>
                        <input md="CODE" value="{{CODE}}" class="form-control" placeholder="" type="text">
                    </div>
                    <div class="col-lg-6 form-group" style="">
                        <label>Ngày bắt đầu</label>
                        <input md="START_DAY" value="{{START_DAY}}" class="form-control" type="date" name="">
                    </div>
                    <div class="col-lg-6 form-group" style="">
                        <label>Ngày kết thúc</label>
                        <input md="END_DAY" value="{{END_DAY}}" class="form-control" type="date" name="">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Mô tả</label>
                        <input md="DESCRIPTION" value="{{DESCRIPTION}}" class="form-control" placeholder=" ">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Trạng thái</label>
                        <select class="form-control">
                            <option value="1">Hoạt động</option>
                            <option value="0">Không hoạt động</option>
                        </select>
                    </div>
                </div>
                    <div class="row" style="float: right; margin-top: 15px; margin-right: 20px">
                        <button type="button" class="btn btn-primary" onclick="showAdd()">Thêm mới</button>
                        <button type="button" class="btn btn-reset" onclick="search()">tìm kiếm</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
