﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Vai trò</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tìm kiếm
            </div>
            <div id="exam-searchview"></div>
            <div id="exam-listview"></div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<!---------------------------------- Modal ------------------ -->
<div class="modal fade" id="detailmodal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin chi viết</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editmodal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal-titel-edit"class="modal-title">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <input type="hidden" value="add" id="id-action" />
                <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="saveAndClose()">Lưu lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input id="subjectID" />
<div class="modal fade" id="question-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal-titel-edit" class="modal-title">Thêm câu hỏi</h4>
            </div>
            <div class="modal-body">
                <select multiple="multiple" id="list-quest-select" style="width:400px;align-items:center;height:400px">

                </select>
            </div>
            <div class="modal-footer">
                <input type="hidden" value="add" id="id-action" />
                <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="addQuestion()">Lưu lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Views/Exam/ExamJs.js"></script>
}



