﻿
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" id="form-add">
                <!--<input name="" md="_Request"-->
                <div class="col-lg-6">
                    <input type="hidden" md="ID" value="{{ID}}" />
                    <div class="form-group">
                        <label>Tên bài thi</label>
                        <input md="NAME" value="{{NAME}}" class="form-control" placeholder=" ">
                    </div>

                    <div class="form-group">
                        <label>Mã bài thi</label>
                        <input md="CODE" value="{{CODE}}" class="form-control" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label>Môn thi</label>
                        <input md="SCHEDULE_ID" value="{{SCHEDULE_ID}}" class="form-control" placeholder=" ">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Tổng thời gian</label>
                        <input md="TOTAL_TIME" value="{{TOTAL_TIME}}" class="form-control" placeholder=" ">
                    </div>
                    <div class="form-group">
                        <label>Môn thi</label>
                        <input md="SUBJECT_ID" value="{{SUBJECT_ID}}" class="form-control" placeholder=" ">
                    </div>
                    <div class="form-group">

                        <label>Trạng thái</label>
                        <select md="STATUS" class="form-control">
                            <option value="1">Hoạt động</option>
                            <option value="0">Không hoạt động</option>
                        </select>
                    </div>

                </div>
            </form>
        </div>
        <div class="row" style="float: right; margin-top: 15px; margin-right: 20px">
            <button type="button" class="btn btn-primary" onclick="showAdd()">Thêm mới</button>
            <button type="button" class="btn btn-reset" onclick="search()">Tìm kiếm</button>
        </div>
    </div>
</div>
