﻿
{{#data}}
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form role="form" id="form-edit">
                    <div class="col-lg-6">
                        <input type="hidden" md="ID" value="{{ID}}" />
                        <div class="form-group">
                            <label>Tên</label>
                            <input md="CONTENT" value="{{CONTENT}}" class="form-control" placeholder=" ">
                        </div>
                       
                        <div class="form-group">
                            <label>Kết quả</label>
                            <input md="RESULT" value="{{RESULT}}" class="form-control" placeholder="" type="text">
                        </div>
                        <div class="form-group">
                            <label>Mã</label>
                            <input md="AREA_CODE" value="{{AREA_CODE}}" class="form-control" placeholder=" ">
                        </div>
                        <div class="form-group">
                            <label>Điểm</label>
                            <input md="POINT" value="{{POINT}}" class="form-control" placeholder=" ">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Parent id</label>
                            <input md="PARENT_ID" value="{{PARENT_ID}}" class="form-control" placeholder=" ">
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6" style="">
                                <label>Loại</label>
                                <input md="TYPE" value="{{TYPE}}" type="" name="" class="form-control" placeholder="  ">
                            </div>
                            <div class="col-lg-6 " style="">
                                <label>Phương tiện</label>
                                <input md="MEDIA" value="{{MEDIA}}" class="form-control" type="" name="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Trạng thái</label>
                            <select class="form-control">
                                <option value="1">Hoạt động</option>
                                <option value="0">Không hoạt động</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Người tạo</label>
                            <input md="CREATED_BY" value="{{CREATED_BY}}" class="form-control" placeholder=" ">
                        </div>
                        <!--<div class="form-group">
        <label>Địa chỉ</label>
        <input md="ADDRESS" value="{{ADDRESS}}" class="form-control" placeholder="Địa chỉ">
    </div>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/data}}