﻿
<div class="panel-body">

    <div class="col-sm-12">
        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 147px;">Tác vụ</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 170px;">RESULT </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 170px;">AREA_CODE </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 170px;">POINT </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 170px;">TYPE </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 170px;">MEDIA </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 170px;">CREATED_DATE </th>

                    <th tabindex="0" rowspan="1" colspan="1" style="width: 206px;">CREATED_BY</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 189px;">UPDATED_DATE</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 147px;"> UPDATED_BY </th>
                   

                    <th tabindex="0" rowspan="1" colspan="1" style="width: 147px;">Trạng thái</th>
                </tr>
            </thead>
            {{#data}}
            <tbody>
                <tr class="gradeA odd" role="row">
                    <td rowId="{{ID}}" class="sorting_1">
                        <a onclick="showDetail(this)"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                        <a onclick="showEdit(this)"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                        <a onclick="deleteInrow(this)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                    <td>{{RESULT}}</td>
                    <td>{{AREA_CODE}}</td>
                    <td>{{POINT}}</td>
                    <td>{{TYPE}}</td>
                    <td>{{MEDIA}}</td>

                    <td>{{CREATED_DATE}}</td>

                    <td>{{CREATED_BY}}</td>
                    <td>{{UPDATED_DATE}}</td>
                    <td>{{UPDATED_BY}}</td>
                   
                    <td>{{STATUS}}</td>
                </tr>
               {{/data}}
            </tbody>
        </table>
    </div>
</div>

