﻿
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" id="form-add">
               
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Nội dung</label>
                        <input md="Content"class="form-control" placeholder="">
                    </div>
                    
                    <div class="form-group">
                        <label>Loại</label>
                        <input md ="Type" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Mã vùng</label>
                        <select class="form-control">
                            <option value=""> mã 1</option>
                            <option value=""> mã 1</option>
                            <option value=""> mã 1</option>
                            <option value=""> mã 1</option>
                            <option value=""> mã 1</option>
                            <option value=""> mã 1</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <select class="form-control">
                            <option value="1">Hoạt động</option>
                            <option value="2"> Không hoạt động</option>
                        </select>
                    </div>

                    <div class="row" style="float: right; margin-top: 15px; margin-right: 20px">
                        <button type="button" class="btn btn-primary" onclick="showAdd()">Thêm mới</button>
                        <button type="button" class="btn btn-reset" onclick="search()">Tìm kiếm</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
