﻿
{{#data}}
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form role="form" id="form-edit">
                    <div class="col-lg-6">
                        <input type="hidden" md="ID" value="{{ID}}" />
                        <div class="form-group">
                            <label>Tên Phòng</label>
                            <input md="NAME" value="{{NAME}}" class="form-control" placeholder="Tên phòng">
                        </div>
                        <!--<div class="form-group" style="height: 59px;">
                            <label>Ảnh đại diện</label>
                            <input md="AVATAR" type="file">
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input md="EMAIL" value="{{EMAIL}}" class="form-control" placeholder="Example@email.com" type="text">
                        </div>-->
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input md="ADDRESS" value="{{ADDRESS}}" class="form-control" placeholder="Địa chỉ">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label>Trạng thái</label>
                            <select class="form-control">
                                <option value="1">Hoạt động</option>
                                <option value="0">Không hoạt động</option>
                            </select>
                        </div>
                        <!--<div class="form-group row">
                            <div class="col-lg-6" style="">
                                <label>Số điện thoại</label>
                                <input md="PHONE_NUMBER" value="{{PHONE_NUMBER}}" type="number" name="" class="form-control" placeholder="Số điện thoại">
                            </div>
                            <div class="col-lg-6 " style="">
                                <label>Ngày sinh</label>
                                <input md="BIRTHDAY" value="{{BIRTHDAY}}" class="form-control" type="date" name="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Đơn vị</label>
                            <input md="UNIT" value="{{UNIT}}" class="form-control" placeholder="Đơn vị">
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input md="ADDRESS" value="{{ADDRESS}}" class="form-control" placeholder="Địa chỉ">
                        </div>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/data}}