﻿
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" id="form-add">
                <!--<input name="" md="_Request"-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Tên phòng</label>
                        <input md="UserName" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input md="Email" class="form-control" placeholder="" type="text">
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">

                        <label>Trạng thái</label>
                        <select class="form-control">
                            <option value="1">Hoạt động</option>
                            <option value="0">Không hoạt động</option>
                        </select>
                    </div>

                </div>

            </form>
        </div>
        <div class="row" style="float: right; margin-top: 26px; margin-right: 20px">
            <button type="button" class="btn btn-primary" onclick="showAdd()">Thêm mới</button>
            <button type="button" class="btn btn-reset" onclick="search()">tìm kiếm</button>
        </div>
    </div>
</div>
